/* Various */
.container.main {
	min-width: 1140px;
}

.nav-tabs .nav-item {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 19px;
	font-weight: 300;
}

.group-title {
	display: block;
	margin-bottom: .25rem;
}

input[type="text"].form-control {
	height: auto;
}

.custom-file-label::after {
	content: 'Обзор';
}

.dnd-base-group.fade:not(.show),
.dnd-shape-group.fade:not(.show) {
	visibility: hidden;
}

/* Canvas */
.dnd-canvas {
	position: relative;
}

/* Base */
.dnd-canvas .base {
	background-size: contain;
}

/* Shape */
.dnd-canvas .shape {
	position: absolute;
	background-size: contain;
}

.dnd-canvas .shape:not(.ui-draggable-dragging) {
	cursor: grab;
}

.dnd-canvas .shape.selected {
	z-index: 1;
}

.dnd-canvas .shape.selected::before,
.dnd-canvas .shape.selected::after {
	position: absolute;
	padding: 0 2px;
	font-size: 10px;
	color: #fff;
	background-color: #000;
	opacity: .6;
}

.dnd-canvas .shape.selected::before {
	content: attr(data-file);
}

.dnd-canvas .shape.selected::after {
	content: attr(data-size);
	right: 0;
	bottom: 0;
}

/* Slider */
.slider {
	position: relative;
	display: flex;
	width: 100%;
}

.slider input[type="range"] {
	width: 100%;
	height: calc(1.5em + .75rem + 2px);
	background: transparent;
	appearance: none;
}

.slider input[type="range"]:focus {
	outline: none;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
	height: 2px;
	background-color: #ced4da;
	cursor: pointer;
	transition: background-color .2s;
}

.slider input[type="range"]:focus::-webkit-slider-runnable-track {
	background-color: #007bff;
}

.slider input[type="range"]::-webkit-slider-thumb {
	margin-top: -8px;
	width: 18px;
	height: 18px;
	border: 2px solid #0069d9;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: border-color .2s;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.slider input[type="range"]:focus::-webkit-slider-thumb {
	border-color: #007bff;
}

.slider input[type="range"]::-ms-track {
	height: 2px;
	cursor: pointer;
}

.slider input[type="range"]::-ms-fill-lower {
	background-color: #007bff;
}

.slider input[type="range"]::-ms-fill-upper {
	background-color: #ced4da;
}

.slider input[type="range"]::-ms-thumb {
	margin-top: 0;
	width: 14px;
	height: 14px;
	border: 2px solid #007bff;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}

.slider input[type="range"]::-moz-range-track {
	height: 2px;
	background-color: #ced4da;
	cursor: pointer;
	transition: background-color .2s;
}

.slider input[type="range"]:focus::-moz-range-track {
	background-color: #007bff;
}

.slider input[type="range"]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border: 2px solid #0069d9;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: border-color .2s;
}

.slider input[type="range"]:focus::-moz-range-thumb {
	border-color: #007bff;
}

/* Modal */
.dnd-code {
	min-height: calc(210px + .75rem + 2px);
	max-height: calc(630px + .75rem + 2px);
	font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
	font-size: 14px;
	tab-size: 4;
	-moz-tab-size: 4;
}

.modal-footer-mod {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem 1rem;
	border-bottom-right-radius: calc(.3rem - 1px);
	border-bottom-left-radius: calc(.3rem - 1px);
}

.dnd-step-input {
	max-width: 120px;
}
