@font-face {
	font-family: 'Roboto Condensed Light';
	src: url('RobotoCondensed-Light.ttf') format('truetype');
}

/* UI: Slider */
.slider {
	position: relative;
	display: flex;
}

.slider input[type="range"] {
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.slider input[type="range"]:focus {
	outline: 0;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
	height: 2px;
	background-color: #ced4da;
	cursor: pointer;
}

.slider input[type="range"]::-webkit-slider-thumb {
	margin-top: -8px;
	width: 18px;
	height: 18px;
	border: 2px solid #0d6efd;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: box-shadow 0.15s ease-in-out;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.slider input[type="range"]:focus::-webkit-slider-thumb {
	box-shadow: 0 0 0 0.25rem rgb(13, 110, 253, 0.25);
}

.slider input[type="range"]::-moz-range-track {
	height: 2px;
	background-color: #ced4da;
	cursor: pointer;
}

.slider input[type="range"]::-moz-range-thumb {
	width: 14px;
	height: 14px;
	border: 2px solid #0d6efd;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
	transition: box-shadow 0.15s ease-in-out;
}

.slider input[type="range"]:focus::-moz-range-thumb {
	box-shadow: 0 0 0 0.25rem rgb(13, 110, 253, 0.25);
}

/* Various */
.container-fixed {
	width: 1020px;
	margin-right: auto;
	margin-left: auto;
}

.nav-tabs .nav-link {
	font-family: 'Roboto Condensed Light', sans-serif;
	font-size: 1.1875rem;
	font-weight: 300;
}

.nav-link.active sup {
	color: #f00;
}

.title {
	margin-bottom: 0.3125rem;
	height: 1.5rem;
}

.title[data-badge]::after {
	content: attr(data-badge);
	margin-left: 0.3125rem;
	color: rgba(0, 0, 0, 0.5);
}

.form-select {
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check-input {
	height: 1.1875rem;
	margin-top: 0.1875rem;
}

textarea.form-control {
	min-height: calc(212px + 0.75rem);
	max-height: calc(527px + 0.75rem);
	font-family: Consolas, Menlo, DejaVu Sans Mono, monospace;
	font-size: 0.875rem;
	-moz-tab-size: 4;
	tab-size: 4;
}

button.text-clear {
	position: absolute;
	right: 0;
	top: -1.875rem;
	z-index: 10;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.65);
	background-color: transparent;
	border: 0;
	border-radius: 0.25rem;
}

button.text-clear:focus {
	outline: 0;
}

button.text-clear:hover {
	color: #fff;
	background-color: #0d6efd;
}

button.text-clear:active {
	color: #fff;
	background-color: #0b5ed7;
}

.modal-footer {
	padding: 0 1rem 1rem;
	border: none;
}

.modal-footer > * {
	margin: 0;
}

.canvas {
	position: relative;
	transition: opacity 0.15s ease-in-out;
}

.canvas .base,
.canvas .shape {
	background-size: contain;
}

.canvas .shape.selected::after {
	content: '';
	position: absolute;
	right: 5px;
	bottom: 5px;
	width: 7px;
	height: 7px;
	background-color: #dc3545;
	border-radius: 50%;
}

.canvas .ui-draggable:not(.ui-draggable-dragging) {
	cursor: grab;
}

.canvas .ui-draggable:active {
	cursor: grabbing;
}

.canvas .ui-draggable.selected {
	z-index: 1;
}

.editor {
	font-size: 1.25rem;
	-webkit-user-select: none;
	user-select: none;
}

span.vowel {
	cursor: pointer;
}

span.vowel:hover {
	color: #0d6efd;
}

span.vowel.accent {
	color: #dc3545;
}
